@import "~assets/styles/_bootstrap";

.user-count-page {
  height: 100%;
  background: #edf0f0;

  .wrapper {
    height: 100%;

    .controller {
      position: relative;
      height: 100%;

      .form-group {

    

        .item {
          padding: 0 rem(20px);
          width: 100%;
          height: rem(102px);
          line-height: rem(102px);
          border-bottom: 1px solid #eee;
          background: #fff;
          margin-top: rem(20px);

          &:last-child {
            border-bottom: none;
          }

          &.w280 {
            > span {
              width: 8.25rem;
            }

            .right {
              width: rem(320px);
            }
          }


          > span {
            position: absolute;
            display: inline-block;
            left: rem(20px);
            width: rem(240px);
            font-size: rem(32px);
            color: #333;
            vertical-align: middle;


           
          }

        }



      }


    }
  }
  .container-account {
    position: relative;
    width: 100%;
    height: rem(320px);
    background: #E02E24;
    background-size: 100% 100%;
    display: flex;
    padding-top: rem(60px);

    span {
        color: #ffffff;
        font-size: 0.5rem;
    }

    .person {
        margin-left: 0.426667rem;
        span {
          font-size: rem(30px);
        }
    }
    .money {
      span {
          font-size: rem(60px);
      }
  }
    .withdraw {
        height: rem(88px);
        line-height: rem(88px);
        position: absolute;
        bottom: 0;
        background: #e74d45;
        width: 100%;
        font-size: rem(32px);
        color: #fff;
        padding-left: rem(25px);
        span {
            font-size: rem(32px);
        }
    }
}

.moneyIn {
    background: #fff;
    padding: 0 rem(30px) rem(30px) rem(30px);
    margin-top: rem(24px );
    .title {
        height: rem(90px);
        line-height: rem(90px);
        font-size: rem(32px);
        color: #333;
        border-bottom: 1px solid #ededed;
    }
    .detail {
        color: #999;
        font-size: rem(28px);
        margin-top: rem(24px );
    }
}

    .exchange {
       width: 100%;
        position: absolute;
        bottom:0;
        height: rem(88px);
        line-height: rem(88px);
        font-size: rem(34px);
        color: #333;
        background: #f00;
        text-align: center;
        color: #fff;
        // margin-top: rem(227px);
        

    }

 
  }
  .tmoney {
    margin-right: rem(60px);
  }







