@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lj7e6k');
  src:  url('fonts/icomoon.eot?lj7e6k#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lj7e6k') format('truetype'),
    url('fonts/icomoon.woff?lj7e6k') format('woff'),
    url('fonts/icomoon.svg?lj7e6k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
  color: #666;
}
.icon-agree .path1:before {
  content: "\e901";
  color: rgb(255, 255, 255);
}
.icon-agree .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(1, 179, 240);
}
.icon-alipay:before {
  content: "\e903";
  color: #00a7ff;
}
.icon-bank:before {
  content: "\e904";
}
.icon-bank_card:before {
  content: "\e905";
}
.icon-bill:before {
  content: "\e906";
}
.icon-call:before {
  content: "\e907";
}
.icon-certificates:before {
  content: "\e908";
  color: #666;
}
.icon-cheats:before {
  content: "\e909";
  color: #ff4249;
}
.icon-choice:before {
  content: "\e90a";
  color: #01b3f0;
}
.icon-close:before {
  content: "\e90b";
}
.icon-code:before {
  content: "\e90c";
}
.icon-credit_card:before {
  content: "\e90d";
}
.icon-creditcard:before {
  content: "\e90e";
  color: #f06c01;
}
.icon-del:before {
  content: "\e90f";
}
.icon-delete:before {
  content: "\e910";
}
.icon-direction1:before {
  content: "\e911";
  color: #999;
}
.icon-direction2:before {
  content: "\e912";
  color: #ccc;
}
.icon-edit:before {
  content: "\e913";
}
.icon-email:before {
  content: "\e914";
}
.icon-enter:before {
  content: "\e915";
}
.icon-fail:before {
  content: "\e916";
  color: #ff4249;
}
.icon-fly:before {
  content: "\e917";
}
.icon-home:before {
  content: "\e918";
}
.icon-horn:before {
  content: "\e919";
  color: #fff;
}
.icon-id-info:before {
  content: "\e91a";
}
.icon-password:before {
  content: "\e91b";
}
.icon-phone:before {
  content: "\e91c";
  color: #666;
}
.icon-progress:before {
  content: "\e91d";
  color: #01b3f0;
}
.icon-purse:before {
  content: "\e91e";
}
.icon-raiders:before {
  content: "\e91f";
  color: #febd17;
}
.icon-recommend:before {
  content: "\e920";
  color: #ff4249;
}
.icon-refuse .path1:before {
  content: "\e921";
  color: rgb(255, 255, 255);
}
.icon-refuse .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-scancode:before {
  content: "\e923";
}
.icon-select:before {
  content: "\e924";
  color: #01b3f0;
}
.icon-set:before {
  content: "\e925";
}
.icon-setgood:before {
  content: "\e926";
  color: #01b3f0;
}
.icon-share:before {
  content: "\e927";
}
.icon-submit .path1:before {
  content: "\e928";
  color: rgb(255, 255, 255);
}
.icon-submit .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(1, 179, 240);
}
.icon-submit .path3:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(1, 179, 240);
}
.icon-unionpay .path1:before {
  content: "\e92b";
  color: rgb(224, 51, 51);
}
.icon-unionpay .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(0, 72, 137);
}
.icon-unionpay .path3:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(0, 128, 137);
}
.icon-unionpay .path4:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-unionpay .path5:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-unionpay .path6:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-unionpay .path7:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-user:before {
  content: "\e932";
  color: #666;
}
.icon-vali:before {
  content: "\e933";
}
.icon-wallet:before {
  content: "\e934";
}
.icon-wechat:before {
  content: "\e935";
}
.icon-wechat_pay:before {
  content: "\e936";
  color: #00c901;
}
