@import "~assets/styles/_bootstrap";

.setPwd-page {
  height: 100%;
  background: #fff;

  .wrapper {
    padding-top: rem(90px);
    background: #fff;

    .controller {

      .form-group {

        .item {
          position: relative;
          padding: rem(16px) rem(20px);
          width: 100%;
          border-bottom: 1px solid #eee;
          background: #fff;

          &:last-child {
            border-bottom: none;
          }

          > span {
            margin-left: rem(0px);
            font-size: rem(30px);
            color: #333;
            vertical-align: middle;
          }

          > input {
            margin-left: rem(50px);
            padding: 0 rem(5px);
            height: rem(68px);
            font-size: rem(30px);
            border: none;
            vertical-align: middle;
          }

          i.icon {
            display: inline-block;
            vertical-align: top;
            height: rem(68px);
            line-height: rem(68px);
            font-size: rem(40px);
          }

          .code {
            position: absolute;
            right: rem(20px);
            bottom: rem(30px);

            .phone-code {
              height: rem(68px);
              background-color: #ffa50d;
              color: #fff;
              font-size: rem(28px);
              border-radius: rem(10px);
              padding: 0 rem(30px);

              &.active {
                background: #c9c9c9;
              }
            }
          }
        }

        .button-item {
          padding-top: rem(280px);
          padding-bottom: rem(50px);

          // .btn {
          //   display: block;
          //   margin: 0 auto;
          //   width: rem(710px);
          //   height: rem(95px);
          //   line-height: rem(95px);
          //   font-size: rem(32px);
          //   color: #fff;
          //   text-align: center;
          //   border: none;
          //   border-radius: rem(10px);
          //   background: #c9c9c9;
          //   cursor: pointer;

          // }
        }
      }
    }
  }
}

