@import "~assets/styles/_bootstrap";

.visitor-page {
  position: absolute;
  left: 0;
  bottom: rem(182px);

  .visitor-wrapper {

    .visitor-group .items {
      margin-bottom: rem(10px);
      padding: 0 rem(16px);
      height: rem(68px);
      line-height: rem(68px);
      border-radius: 0 rem(36px) rem(36px) 0;
      background: linear-gradient(to right, rgba(109, 109, 109, .8) , rgba(63, 63, 63, .8));
      transition: all .5s;

      &:after {
        display: block;
        clear: both;
        content: ' ';
      }

      .item {
        float: left;
        font-size: rem(24px);
        color: #fff;
        margin-right: rem(10px);
      }

      .avatar {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        margin-right: rem(10px);
        width: rem(60px);
        height: rem(60px);
        border-radius: 50%;
        overflow: hidden;

        > img {
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      .name {
        padding-left: rem(80px);
        color: #ffdb00;
        max-width: rem(200px);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

  }

  .body {
    position: fixed;
    bottom: 0;
    padding: rem(25px) rem(25px) 0 rem(25px);
    width: 100%;
    background: #fff;
    box-shadow: 0 rem(-4px) rem(20px) rgba(0, 0, 0, .5);
    z-index: 3999;

    .head {
      padding-bottom: rem(25px);
      border-bottom: 1px solid $bc;

      .avatar {
        display: inline-block;
        width: rem(85px);
        height: rem(85px);
        border-radius: 50%;
        overflow: hidden;

        > img {
          width: 100%;
          height: 100%;
        }
      }

      .invite-info {
        position: absolute;
        top: 0;
        left: rem(115px);

        .name {
          color: #333;
        }

        .level {
          > span {
            font-size: rem(22px);
            color: #999;
          }
        }
      }

      .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 rem(10px);

        > i {
          width: rem(30px);
          height: rem(30px);
        }
      }
    }

    .foot {
      left: rem(25px);
      width: rem(725px);
      padding: rem(25px) 0;

      &:after {
        display: block;
        clear: both;
        content: ' ';
      }

      .link {
        display: block;
        float: left;
        margin: 0 rem(25px);
        width: rem(165px);
        line-height: rem(50px);
        text-align: center;
        border: 1px solid #19d100;
        border-radius: rem(50px);

        &.link-02 {
          color: #fff;
          border: 1px solid #2ea7e0;
          background-color: #0cacfc;
        }

        &.link-03 {
          border: 1px solid #ff3f46;
        }

        > span {
          font-size: rem(24px);
          vertical-align: middle;
        }

      }
    }

  }

}