@import "~assets/styles/_bootstrap";

.Modifypwd-page {
  height: 100%;
  background: #fff;

  .wrapper {
    // padding-top: rem(90px);
    background: #fff;

    .controller {

      .form-group {

        .item {
          position: relative;
          padding: rem(15px) rem(20px);
          width: 100%;
          border-bottom: 1px solid #eee;
          background: #fff;

          &:last-child {
            border-bottom: none;
          }

          > span {
            // margin-left: rem(20px);
            font-size: rem(32px);
            color: #333;
            vertical-align: middle;
            display: inline-block;
            width: rem(128px);
          }

          > input {
            margin-left: rem(50px);
            padding: 0 rem(5px);
            height: rem(68px);
            font-size: rem(32px);
            border: none;
            vertical-align: middle;
          }

          i.icon {
            display: inline-block;
            vertical-align: top;
            height: rem(68px);
            line-height: rem(68px);
            font-size: rem(40px);
          }

          .code {
            position: absolute;
            right: rem(20px);
            bottom: rem(16px);

            .phone-code {
              height: rem(68px);
              // background-color: #ffa50d;
              color: #09aae8;
              font-size: rem(28px);
              border-radius: rem(10px);
              padding: 0 rem(30px);

              &.active {
                background: #c9c9c9;
              }
            }
          }
        }

        .button-item {
          padding-top: rem(282px);
          padding-bottom: rem(50px);

          .btn {
            display: block;
            margin: 0 auto;
            width: rem(620px);
            height: rem(88px);
            line-height: rem(88px);
            font-size: rem(32px);
            color: #fff;
            text-align: center;
            border: none;
            border-radius: rem(10px);
            // background: #c9c9c9;
            cursor: pointer;

          }
        }
      }
    }
  }
}

.openEright {
  position: absolute;
  right:rem(60px);
  width:rem(40px) !important;
  height:rem(38px) !important;
}

