@import "~assets/styles/_bootstrap";
body {
  overflow: visible;
}
.toapplay-page {
    color: #333;
    height: 100%;
    background: #fff;
    font-size: rem(32px);
    overflow-x: hidden;

    ._v-content {
      min-height: 100%;
      padding-bottom: rem(100px);
      padding-top: rem(890px); 
      
    }



    .wrapper {

      .controller {
        position: relative;
        z-index: 100;
        .count-down {
          font-size: rem(32px);
          padding: rem(28px);
        }
        .goods-detail {
          width: 100%;
          overflow-x: hidden;
          img {
            height: rem(250px);
            width: rem(250px);
            
          }
          .text {
            height: rem(46px);
            line-height: rem(46px);
            font-size: rem(23px);
            margin-left: rem(20px);
          }
        }


      
      }
    }
    .main {
      font-size: rem(28px);
      color: #333;
      padding: rem(30px) rem(30px)  rem(88px) rem(30px) ;


      .apply {
        font-size: rem(28px);
        color: #333;
        p {
          font-size: rem(32px);
          line-height: rem(56px);
        }

      }
    
      .browse {
        font-size: rem(26px);
        margin-top: rem(30px);
      
        p {
          margin-top: rem(23px);
          line-height: rem(45px);
        }

        .bottom-top{
          padding-bottom: rem(40px);
        }
        
        .bottom-b{
          padding-top: rem(40px);
        }

        a {
          color:rgba(66,165,245,1);
          font-size: rem(24px);
          border-bottom: 1px solid #42a5f5;
        }

        .goodsImg{
        
          img {
            height: rem(200px);
            width: rem(200px);
          }
        }
        input {
          border: 1px solid #dedeed;
        }
        .input {
          width: rem(70px);
          height: rem(60px);
          text-align: center;
        }
        .moneyInput {
          width:rem(428px);
          height:rem(88px);
          border-radius:rem(10px);
          display: inherit;
          border-color: rgba(153,153,153,1);
        }
        .abandon {
          display: block;
          width:rem(180px);
          line-height:rem(70px);
          height:rem(70px);
          background:rgba(249,168,37,1);
          border-radius:rem(4px);
          color : #fff;
          text-align: center;
          margin: 0 auto;
        }
        .check {
          color:#fff;
          margin: rem(20px) rem(-40px);

        }
        .tip {
          color: #666;
        }
      
      }

      .after-sale {
          margin: rem(70px) rem(-20px) rem(20px) rem(-20px);
          img {
            width: rem(76px);
            height: rem(76px);
          }
      }
      
      .shoot {
        .shootImg {
          width:100%;
          height: rem(700px);
          img {
            width:rem(200px);
            height:rem(210px);
            display: inline-block;
            margin-left: rem(10px);
            float:left;
            margin-top: rem(10px);
            
          }
          margin-bottom: rem(30px);
          
        }
        .method {
          p {
            margin-top: 0;
          }
          .btn {
            margin-top: rem(60px);
          }
        }
      
      }

      .comment {
        .style {

          border: 1px solid rgba(153,153,153,1);
          border-radius:10px;

          display: inline-block;
          padding:0 rem(10px);
          font-size: rem(26px);
        }
      }

      .complete {

      }

      .service {
        img {
          width: rem(165px);
          height: rem(165px);
        }
      }

      .complete {
        .send{
          margin-top: rem(20px);
          line-height: rem(40px);
        }
      }
    }


    .applay-btn {
      width: 100%;
      position: fixed;
      bottom: 0;
      z-index: 10000;
      background: #fff;
      
      p {
        height: rem(88px);
        line-height: rem(88px);
        color: #333;
      }
      .active {
        background: #E02E24;
        color: #fff;
      }

    }


    nav {
      background: #fff;
      // display : flex;
      // padding:rem(20px);
      .status {
        margin: 0 auto;
        padding: rem(30px) 0;
        // width: rem(654px);

        &:before {
          display: block;
          width: 100%;
          height: rem(82px);
          clear: both;
          // background: url('~assets/images/progress.png') no-repeat;
          background-size: 100%;
          content: ' ';
        }

        .sta-group {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 0 rem(36px) 0 rem(26px);

          &:after {
            display: block;
            clear: both;
            content: ' ';
          }

          .sta-txt {
            float: left;
          
            height: 100%;
            position: relative;
             &:nth-child(1) {
              width: 15%;
             }
             &:nth-child(2) {
              width: 30%;
             }
             &:nth-child(3) {
              width: 20%;
             }
             &:nth-child(4) {
              width: 20%;
             }
             &:nth-child(5) {
              width: 15%;
             }
            > i {
              position: absolute;
              top: rem(46px);
              // width: rem(50px);
              // height: rem(50px);
    
              &:before {
                position: absolute;
                z-index: 10000;
              }
            }
    
            > span {
              position: absolute;
              display: block;
              top: rem(86px);
              font-size: rem(12px);
              position: absolute;
    
              &.on {
                color: #2ecc71;
              }
    
              &.fall {
                color: #f00;
              }
            }
            .span1 {
              left: rem(14px);
            }
            .span2 {
              left: rem(14px);
            }
            .span3 {
              left: rem(26px);
            }
            .span4 {
              left: rem(76px);
            }
            .span5 {
              left: rem(54px);
            }
            .num {
              top: rem(39px);
              color: #fff;
              height: rem(30px);
              line-height: rem(30px);
              width: rem(30px);
              display: inline-block;
              background: #e2e2e2;
              border-radius: 50%;
              span{
                position: absolute;
                color: #333 !important;
                top: 22px;
                width:80px;
                text-align: center;
                left: 50%;
                transform: translateX(-50%);
                font-size: rem(26px);
              }
            }
            .num1 {
              position: absolute;
              left: rem(20px);
            }
            .num2 {
              position: absolute;
              left: rem(74px);
            }
            .num3 {
              position: absolute;
              left: rem(56px);
            }
            .num4 {
              position: absolute;
              left: rem(80px);
            }
            .num5 {
              position: absolute;
              left: rem(66px);
            }
            .sp-success {
              position: absolute;
              display: inline-block;
              top: rem(-28px);
              bottom: 0;
              margin: auto 0;
              width: rem(100px);
              height: rem(6px);
              background: #e2e2e2;
              content: ' ';
            }
            .sp1 {
              width: rem(160px);
              left: rem(50px);
            
            }
            .sp2 {
              width: rem(202px);
              left: rem(100px);
    
            }
            .sp3 {
              width: rem(160px);
              left: rem(76px);
    
            }
            .sp4 {
              width: rem(120px);
              left: rem(100px);
            }
    
    
  
          }
        }
      }


      .active {
        color : #fff !important;
        background: #f00;
        border: 1px solid #f00;
      }
      div {
        flex: 1;
        text-align: center;
        // margin:0 rem(29px);
        
        p {
          color: #999;
          border: 1px solid #999;
          border-radius: rem(40px);
          font-size: rem(32px);
          padding: rem(9px);
    
          margin :0 auto;
          background: #fff;
        }
      }
    }
    .detailList{

        width :100%; 
        border-bottom : 1px solid #f4f4f4;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .active{

          color: #e02e24;
          border-bottom: rem(4px) solid #e02e24;
        }
        ul {
              background :white;
              display :flex;
              li{
                    width: 25%;
                    height : 100%;
                    float: left;
                    margin: auto;
                    flex: 1;
                    div{
                            width: 100%;
                            text-align: center;
                            height: rem(88px);
                            line-height: rem(88px);
                            margin: auto;
                            font-size : rem(32px);
                            img {
                            display: block;
                            width: 100%;
                            height: 100%
                            }
                      
                    }
          
              }
        
            }
    }
        

    .mainFontColor {
      color: #E02E24 !important;
    }

    .mainBgColor {
      background: #E02E24 !important;
    }  

    .masterMapBtn {
      height: rem(118px);
      position: absolute;
      width:100%;
      bottom: 0;
      color: #fff;
      padding: rem(5px) rem(20px)  rem(10px) rem(20px) ;
      .app {
        span{
          border: 1px solid #fff;
          padding:rem(0) rem(5px);
          margin-top: rem(10px);
          position: absolute;
          font-size: rem(28px);
        }
      
      }
      .bg {
        position: absolute;
        bottom: 0;
        background: #000;
        opacity: 0.5;
        left: 0;
        width: 100%;
        height: rem(126px);
      }
      .goodMsaage {
        p {
          height: rem(40px);
          line-height: rem(40px);
          font-size: rem(28px);
          span{
            font-size: rem(28px);
          }
        }
    
      }
   
    }


}
